body {
    margin: 0;
}

h1, h2, h3, h4 {
    margin: 10px 30px 10px 30px;
}

form {
    margin-left: 30px;
    width: 400px;
}

p, ol, table, li, img, a{
    margin-left: 30px;
}

#top_menu {
	margin: 0;
}