body {
    margin: 0px 0px 150px 0px;
}

h1, h2, h3, h4 {
    margin: 10px 30px 10px 30px;
}

form {
    margin-left: 30px;
    width: 400px;
    align: center;
}

p, ol, table, li {
    margin-left: 30px;
}

img {
    margin: 0 auto;
}

#top_menu {
	margin: 0;
}