/*
               사용할 색들
               #E2E9F0 : 연회
               #4C4A8A : 진파
               #9F9FBD : 연파
               #F2CCA7 : 연주
               #BDA99F : 베이지
*/


/*font-family: 'Noto Serif KR', serif;*/
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+KR&display=swap');
/*font-family: 'Lato', sans-serif;*/
@import url('https://fonts.googleapis.com/css?family=Lato:900&display=swap');
/*font-family: 'Noto Sans KR', sans-serif;*/
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Serif KR', serif;
    font-size: 20px;
	color: #404040;
}

body {
    background: url('img/bg.png'), repeat;
    background-attachment: fixed;
}

p { margin: 20px 0 20px 0;}

h1 { font-size: 25px; }

a {
    text-decoration: none;
    color: #4C4A8A;
}
a:hover { color: #BDA99F; }
a:active { color: #f2f2f2; }


/*  navigation
플로팅메뉴 만들기 : https://cocosoft.kr/149*/
#nav {
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    min-width: 638px;
    height: 30px;
    padding: 20px 0px 20px 0px;
    border-bottom: 1px solid #9F9FBD;
    text-align: center;
    vertical-align: middle;
    position: fixed;
    top: 0px;
}

#nav a {
    font-family: 'Lato', sans-serif;
    color: #4C4A8A;
}

#nav a:hover {
    color: #ffffff;
    text-shadow: -1px 0 #4C4A8A, 0 1px #4C4A8A, 1px 0 #4C4A8A, 0 -1px #4C4A8A;
}

#nav a:active {
    color: #9F9FBD;
    text-shadow: none;
}

#nav ul {
    padding: 0;
}

#nav ul li {
    display: inline;
    margin: 40px;
}

#full {
    margin: 200px 300px 300px 300px;
}

/*  left-menu  */
#left-menu {
    background-color: #9F9FBD;
    width: 10%;
    min-width: 100px;
    height: 100%;
    padding: 20px 20px 24px 20px;
    position: fixed;
    text-align: center;
    top: 70px;
    left: 0px;
}
#left-menu ul {
    padding: 0px;
    height: 100px;
    display: block;
}
#left-menu ul li {
    display: block;
    margin: 20px 0 20px 0;
}
#left-menu a {
    font-family: 'Lato', sans-serif;
    color: #f6f6f6;
    text-shadow: -1px 0 #4C4A8A, 0 1px #4C4A8A, 1px 0 #4C4A8A, 0 -1px #4C4A8A;
}
#left-menu a:hover { color: #BDA99F; }
#left-menu a:active { color: #9F9FBD; }

form {
    margin: 60px 0px 60px 0px;
}

fieldset {
    padding: 50px;
    width: 500px;
    border: 1px solid #9F9FBD;
}

textarea {
    width: 500px;
}

img {
    max-width: 100%;
}

ul { padding: 40px 0 30px 23px; }
